# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*.local

# OS-specific
.DS_Store
Thumbs.db

# Build outputs
dist/
.build/
.remix/
.next/
.vite/

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/

# Remix
public/build/
remix.config.js.tsbuildinfo

# Docker
docker-compose.override.yml

# Editor configs
.vscode/
.idea/
*.sw?

# Misc
*.local
*.log
.cache/
*.tgz

# GitHub specific
.github/
